<div id="extractions-header">
	<div class="new-button" ng-click="show = !show">+ Add New Extraction</div>
	<div>
		<div><div id="legend-started"></div><span> = extraction started</span></div>
		<div><div id="legend-complete"></div><span> = extraction complete</span></div>
	</div>
</div>

<form name="newForm" class="new-form" ng-show="show" ng-submit="vm.create(newForm.$valid)">
	<p>New Extraction</p>
	<input type ="text" ng-model="vm.newExtraction.name" name="extractionName" placeholder="Extraction Name" required>
	<input type ="text" ng-model="vm.newExtraction.goal_date" placeholder="Goal Date">
	<input type ="text" ng-model="vm.newExtraction.analyst" placeholder="Analyst">
	<input type ="text" ng-model="vm.newExtraction.notes" placeholder="Notes">
	<button type ="submit" ng-click="show = !show" ng-if="newForm.$valid"><span>Create</span></button>
	<div class="requirement" ng-if="newForm.$invalid">Name required</div>
</form>





<div class="extraction-wrapper">
	<div ng-repeat="extraction in vm.extractions">
		<a ui-sref="samples({name: extraction.name})">
			<div class="extraction-entry" ng-class="{'bbp-added' : (extraction.bbp_added == true), 'extracted' : (extraction.extracted == true)}">
				<div class="extraction-info">
					<div class="extraction-name">{{extraction.name}}</div>
					<div>Goal Date: {{extraction.goal_date}}</div>
					<div>Analyst: {{extraction.analyst}}</div>
					<div>Notes: {{extraction.notes}}</div>
					<div>Samples: </div>
				</div>
				<div class="sample-block">
					<div class="sample-block__item" ng-repeat="sample in extraction.samples">
						<div>{{sample.name}}</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>