<form class="new-form" ng-submit="vm.create()">
<p>New Extraction</p>
	<input type ="text" ng-model="vm.newExtraction.name" placeholder="Extraction Name">
	<input type ="text" ng-model="vm.newExtraction.goal_date" placeholder="Goal Date">
	<input type ="text" ng-model="vm.newExtraction.analyst" placeholder="Analyst">
	<button type ="submit">Create</button>
</form>


<div class="extraction-wrapper">
	<div ng-repeat="extraction in vm.extractions">
		<div class="extraction-entry" ng-class="extraction.name">
			<div class="extraction-info">
				<div class="extraction-name"><a ui-sref="samples({name: extraction.name})">{{extraction.name}}</a></div>
				<div>Goal Date: {{extraction.goal_date}}</div>
				<div>Analyst: {{extraction.analyst}}</div>
				<div>BBP added: {{extraction.bbp_added}}</div>
				<div>Extracted: {{extraction.extracted}}</div>
			</div>
			<div class="sample-block">
				<div ng-repeat="sample in extraction.samples">
					<div>{{sample.name}}</div>
				</div>
			</div>
		</div>
	</div>
</div>