<!-- <div class="new-sample-button" ng-click="show = !show">(+)New Sample</div> -->
<form class="new-sample-form" ng-submit="vm.create()">
	<input type ="text" ng-model="vm.newSample.name" placeholder="Sample Name">
	<input type ="text" ng-model="vm.newSample.notes" placeholder="Optional Notes">
	<input type ="checkbox" ng-model="vm.newSample.strs">STRs
	<input type ="checkbox" ng-model="vm.newSample.mito">Mito
	<input type ="checkbox" ng-model="vm.newSample.priority">Priority
	<input type ="text" ng-model="vm.newSample.analyst" placeholder="Analyst">
	<button type ="submit">Create</button>
</form>

<div class="headings">
	<p>Sample</p>
	<p>Notes</p>
	<p>STRs</p>
	<p>Mito</p>
	<p>Analyst</p>
</div>

<div class="searchbar"><p>Search</p><input class="search-field" type="text" ng-model="vm.search"></div>

<div ng-repeat="sample in vm.samples | filter: vm.search" ng-class="{'priority' : (sample.priority == true)}">
	<div class="sample-entry" ng-class="{'cleaned' : (sample.cleaned == true)}">
		<div>{{sample.name}}</div>
		<div>{{sample.notes}}</div>
		<div><div ng-class="{'strs' : (sample.strs != true)}">STRs</div></div>
		<div><div ng-class="{'mito' : (sample.mito != true)}">Mito</div></div>
		<div>{{sample.analyst}}</div>
		<div>{{sample.cleaned}}</div>
		<button><a ui-sref="sample-info({name: sample.name})">Edit</a></button>
		<button>Cleaned</button>
		<button>Sampled</button>
	</div>
</div>


