<form class="update-extraction" ng-submit="vm.updateme()">
	<div><p>Extraction</p><input type="text" ng-model="vm.extraction.name" value="vm.extraction.name"></div>
	<div><p>Goal Date</p><input type="text" ng-model="vm.extraction.goal_date" value="vm.extraction.goal_date"></div>
	<div><p>Analyst</p><input type="text" ng-model="vm.extraction.analyst" value="vm.extraction.analyst"></div>
	<div><p>Notes</p><input type="text" ng-model="vm.extraction.notes" value="vm.extraction.notes"></div>
	<div class="bbp-add"><p>Started</p><input type="checkbox" ng-model="vm.extraction.bbp_added" value="vm.extraction.bbp_added"></div>
	<div class="extract"><p>Completed</p><input type="checkbox" ng-model="vm.extraction.extracted" value="vm.extraction.extracted"></div>
	<div><button type="submit">Update</button></div>
</form>
<div id="samples-main">
<div id="extractions-header">
	<div class="new-button" ng-click="show = !show">+ Add New Sample</div>
	<div>
		<div><div id="legend-sampling-started"></div><span> = sample cleaned</span></div>
		<div><div id="legend-sampling-complete"></div><span> = sample blended</span></div>
	</div>
</div>

<!-- <div class="searchbar"><p>Search</p><input class="search-field" type="text" ng-model="vm.search"></div> -->

<form class="new-form-samples" ng-show="show" ng-submit="vm.create()">
	<p>New Sample</p>
	<input type ="text" ng-model="vm.newSample.name" placeholder="Sample Name">
	<input type ="text" ng-model="vm.newSample.notes" placeholder="Optional Notes">
	<input type ="checkbox" ng-model="vm.newSample.strs" id="strs-box"><label for="strs-box">STRs</label>
	<input type ="checkbox" ng-model="vm.newSample.mito" id="mito-box"><label for="mito-box">Mito</label>
	<input type ="checkbox" ng-model="vm.newSample.priority" id="priority-box"><label for="priority-box">Priority</label>
	<input type ="text" ng-model="vm.newSample.analyst" placeholder="Analyst">
	<button type ="submit" ng-click="show = !show">Create</button>
</form>

<div class="headings">
	<p>Sample</p>
	<p>Notes</p>
	<p>STRs</p>
	<p>Mito</p>
	<p>Analyst</p>
</div>

<div ng-repeat="sample in vm.extraction.samples | filter: vm.search" ><div class="importance" ng-class="{'priority' : (sample.priority == true)}">&#9733;</div>
	<div class="sample-entry" ng-class="{'cleaned' : (sample.cleaned == true), 'sampled' : (sample.sampled == true)}">
		<div class="sample-status" ></div>
		<div class="sample-info">
			<div>{{sample.name}}</div>
			<div>{{sample.notes}}</div>
			<div><div ng-class="{'strs' : (sample.strs != true)}">STRs</div></div>
			<div><div ng-class="{'mito' : (sample.mito != true)}">Mito</div></div>
			<div>{{sample.analyst}}</div>
			<div class="update-button"><a ui-sref="sample-info({name: vm.extraction.name, id: sample._id})">Update</a></div>
			<span class="timestamp" ng-class="{'updated-date' : !sample.updated}">Updated on: {{sample.updated}}</span>
		</div>
	</div>

</div>

<div class="delete"><button ng-click="vm.destroy()">Delete Extraction</button></div>
</div>

