<div><a ui-sref="samples">Back</a></div>

<div class="update-wrapper">

<div class="delete-sample"><button ng-click="vm.destroy()">Delete Sample</button></div>

<form class="update-sample" ng-submit="vm.update()">
	<div><p>Sample</p><input type="text" ng-model="vm.sample.name" value="vm.sample.name"></div>
	<div><p>Notes</p><input type="text" ng-model="vm.sample.notes" value="vm.sample.notes"></div>
	<div><p>STRs</p><input type="checkbox" ng-model="vm.sample.strs" value="vm.sample.strs"></div>
	<div><p>Mito</p><input type="checkbox" ng-model="vm.sample.mito" value="vm.sample.mito"></div>
	<div><p>Priority</p><input type="checkbox" ng-model="vm.sample.priority" value="vm.sample.priority"></div>
	<div><p>Analyst</p><input type="text" ng-model="vm.sample.analyst" value="vm.sample.analyst"></div>
	<div><p>Cleaned</p><input type="checkbox" ng-model="vm.sample.cleaned" value="vm.sample.cleaned"></div>
	<div><p>Sampled</p><input type="checkbox" ng-model="vm.sample.sampled" value="vm.sample.sampled"></div>

	<div><p>Extraction</p><input type="text" ng-model="vm.sample.extraction" value="vm.sample.extraction"></div>
	<div><button type="submit">Update</button></div>
</form>

</div>

