body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 30px;
}

a {
	color: black;
}

button {
	cursor: pointer;
	height: 25px;
}

nav {
	background-color: black;
	box-sizing: border-box;
	font-size: 20px;
	padding: 10px;
}

nav a {
	color: white;
}

header {
	background-color: white;
	box-sizing: border-box;
	font-size: 30px;
	padding: 2% 0;
	text-align: center;
}

.author {
	font-size: 12px;
}

/* extractions page */

#extractions-header {
	display: flex;
	justify-content: space-between;
}

.new-button {
	border: solid 2px black;
	border-radius: 25px;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	width: 200px;
}

.new-form {
	align-items: center;
	background-color: #eaece9;
	border: solid 3px gray;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2vh;
}

.new-form * {
	height: 25px;
	margin-right: 1%;
	text-align: center;
	width: 14%;
}

.requirement {
	color: red;
}

.extraction-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.extraction-wrapper > div{
	background-color: white;
	border: solid black 3px;
	border-radius: 10px;
	box-sizing: border-box;
	margin:  1%;
	padding: 2%;
	width: 23%;
}

.extraction-wrapper a {
	text-decoration: none;
}

.extraction-entry div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.extraction-name {
	font-size: 24px;
	justify-content: center;
	padding-bottom: 10px;
	text-decoration: underline;
	width: 100%;
}

.sample-block {
	background-color: #eaece9;
	max-height: 360px;
	overflow: scroll;
}

.sample-block__item {
	margin: 1% 4%;
}

.bbp-added, .extracted {
	box-sizing: border-box;
	padding: 4%;
	width: 100%;
}

.bbp-added {
	background-color: #ffe500;
}

.extracted {
	background-color: #ffae00;
}

#legend-started, #legend-complete {
	display: inline-block;
	height: 10px;
	width: 10px;
}

#legend-started {
  background-color: #ffe500;
}

#legend-complete {
  background-color: #ffae00;
}

/* samples page */

.update-extraction {
	border-bottom: solid 2px black;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2%;
	padding-bottom: 1%;
	width: 100%;
}

.update-extraction div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 14%;
}

.update-extraction div p {
	font-size: 18px;
	font-weight: 800;
	margin: 0;
	width: 100%;
}

.update-extraction button {
	align-self: flex-end;
}

.bbp-add {
	box-sizing: border-box;
	color: #ffe500;
	padding: 0 3%;
}

.extract {
	box-sizing: border-box;
	color: #ffae00;
	padding: 0 4%;
}

.searchbar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 25px;
	justify-content: flex-end;
	padding-right: 1%;
}

.searchbar input {
	border-radius: 15px;
	margin-left: 1%;
	padding: 5px;
	width: 100%;
}

.new-form-samples {
	align-items: center;
	background-color: #eaece9;
	border: solid 3px gray;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2vh;
	text-align: center;
}

.new-form-samples * {
	height: 25px;
	margin-right: 1%;
}

#samples-main {
	box-sizing: border-box;
	padding: 0 3%;
}

.headings {
	font-size: 24px;
	font-weight: 800;
	height: 50px;
}

.headings p{
	width: 13.5%;
}

.headings p:nth-child(1){
	margin-left: 69px;
	width: 20%;
}

.headings p:nth-child(2){
	width: 18%;
}

#legend-sampling-started, #legend-sampling-complete {
	display: inline-block;
	height: 20px;
	width: 20px;
}

#legend-sampling-started {
	background: url(https://www.freeiconspng.com/uploads/water-drop-icon-symbol-20.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#legend-sampling-complete {
	background: url(test-tube.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px 20px;	
}

.sample-entry, .headings {
	display: flex;
}

.sample-entry {
	background-color: white;
	border: solid black 3px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	margin:  1% 0;
	position: relative;
}

.sample-entry > div {
	display: flex;
	
}

.sample-status {
	width: 5%;
}

.sample-info {
	box-sizing: border-box;
	padding: 15px 1%;
	width: 95%;
}

.sample-info > div {
	width: 15%;
}
.sample-info :nth-child(1){
	width: 22%;
}

.sample-info :nth-child(2) {
	width: 20%;
}

.importance {
	display: none;
}

.importance.priority {
	display: block;
	left: 20px;
	position: absolute;
}

.strs, .mito, .updated-date {
	display: none;
}

.timestamp {
	bottom: -8px;
	font-size: 8px;
	position: absolute;
	right: 3%;
}

.update-button {
	background-color: silver;
	border-radius: 10px;
	display: flex;
	height: 35px;
	justify-content: center;
}

.cleaned {
	border-color: rgb(82, 170, 221);
}

.sampled {
	border-color: rgb(126, 185, 125);
}

.cleaned .sample-status {
	background: url(https://www.freeiconspng.com/uploads/water-drop-icon-symbol-20.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px 40px;
}

.sampled .sample-status {
	background: url(test-tube.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px 50px;
}

.delete button {
	height: 25px;
	margin-top: 2%;
}

/*sample-info page*/

.sample-info-name {
	font-size: 18px;
	text-align: center;
}

#sample-actions {
	display: flex;
	flex-wrap: wrap;
}

.sample-action {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 400px;
	width: 33%;
}

.sample-action:nth-of-type(2) {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.action-title {
	align-self: flex-start;
	background-color: #541bda;
	border-radius: 25px;
	color: white;
	font-size: 18px;
	margin: 30px 0;
	padding: 10px;
	text-align: center;
	width: 200px;
}

.update-sample {
	width: 80%;
}

.warning {
	color: #da1b61;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.clean {
	color: rgb(82, 170, 221);
}

.sample {
	color: rgb(126, 185, 125);
}

.form-section {
	display: flex;
	margin-bottom: 20px;
}

.form-section__titles {
	width: 25%;
}

.form-section__process {
	width: 40%;
}

.assign-extraction {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 800;
	justify-content: center;
	width: 100%;
}

.assign-extraction * {
	margin: 1%;
}

@media (max-width: 610px){
	.extraction-wrapper > div{
		width: 98%;
	}

	.new-form * {
		width: 100%;
	}

	.update-extraction div {
		width: 100%;
	}

	.bbp-add, .extract {
		padding: 0 40%;
	}

	.searchbar {
		justify-content: flex-start;
	}

	.searchbar input {
		width: 100%;
	}

	.new-form-samples * {
		width: 100%;
	}

	.headings {
		margin-bottom: 5%;
	}

	.update-sample div {
		width: 100%;
	}

	.sample-action {
		width: 100%;
	}

	.sample-action:nth-of-type(2) {
		border-left: none;
		border-right: none;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}

	.sample-action:nth-of-type(2), .sample-action:nth-of-type(3) {
		height: 200px;
	}
}

@media (min-width: 611px) and (max-width: 1024px) {
	.extraction-wrapper > div{
		width: 48%;
	}

	.new-form {
		padding-bottom: 1%;
	}

	.new-form p, .new-form-samples p {
		margin: 0 0 1% 0;
		width: 100%;
	}

	.update-extraction div {
		width: 25%;
	}

	.bbp-add, .extract {
		padding: 0 7%;
	}

	.searchbar {
		justify-content: flex-start;
	}

	.new-form-samples * {
		width: 40%;
	}

	.headings {
		margin-bottom: 2%;
	}

	.update-sample div {
		width: 100%;
	}
}
