body {
	background-color: gray;
	font-family: 'Cairo', sans-serif;
}

/* extractions page */

.new-form {
	align-items: center;
	background-color: #eaece9;
	display: flex;
	height: 50px;
	margin-bottom: 2vh;
}

.new-form * {
	height: 25px;
	margin: 0 1%;	
}

.new-form p{
	font-size: 20px;
	margin-bottom: 15px;
}

.extraction-wrapper {
	display: flex;
}

.extraction-wrapper > div{
	background-color: white;
	border: solid black 3px;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	margin:  1%;
	padding: 1%;
	width: 23%;
}

.extraction-entry div{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.extraction-name {
	font-size: 24px;
	justify-content: center;
	width: 100%;
}

.sample-block {
	background-color: #eaece9;
	max-height: 360px;
	overflow: scroll;
}

/* samples page */

.searchbar {
	align-items: center;
	display: flex;
	height: 25px;
	justify-content: flex-end;
	margin: 0 1% 1% 0;
}

.searchbar input {
	margin-left: 1%;
	
}

.sample-entry, .headings {
	display: flex;
}

.sample-entry {
	background-color: white;
	border: solid black 2px;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin:  1% 0;
	padding: 1%;
	flex-wrap: wrap;
}

.sample-entry > div {
	display: flex;
	width: 100%;
}

.sample-info > div {
	width: 15%;
}

.headings p{
	width: 15%;
}

.headings {
	font-size: 24px;
	font-weight: 800;
	height: 50px;
}

.priority > div {
	border: solid red 4px;
}

.strs, .mito, .updated-date {
	display: none;
}

.timestamp {
	justify-content: flex-end;
	font-size: 8px;
	margin-right: 2.5%;
	width: 97.5%;
}

.update-button div {
	background-color: silver;
	border-radius: 10px;
	height: 35px;
	margin-left: 100%;
	text-align: center;
	width: 50%;
}

.update-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.update-sample {
	display: flex;
	width: 100%;
}

.update-sample div {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 20%;
}

.update-sample div p {
	font-size: 24px;
	font-weight: 800;
	width: 100%;
}

.update-sample button {
	align-self: flex-end;
	height: 25px;
}

.delete-sample {
	justify-content: flex-end;
	display: flex;
	width: 100%;
}

.delete-sample button {
	height: 25px;
}

.cleaned {
	background-color: aqua;
}

.sampled {
	background-color: limegreen;
}

